/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    line-height: 1.75;
    font-family: 'Inter', sans-serif;
    background-color: #111;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

/* Container */

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Links */

.link {
    color: inherit;
    font-size: 1.5rem;
    text-decoration: none;
}

.link--underlined {
    border-bottom: 3px solid #fff;
}

/* Copyright */

footer {
    background-color: #191919;
}

.copyright {
    padding: 1rem 0;
}

.copyright__text {
    opacity: 0.6;
    font-size: 1.25rem;
    text-align: center;
}

/* Contact */

.contact {
    padding: 4rem 0;
    text-align: center;
}

.contact__heading {
    margin-bottom: 2rem;
}

.contact__text {
    font-size: 1.5rem;
}

/* Grid */

.grid {
    display: grid;
    grid-gap: 4rem;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Hero */
/* FIXME: put right margins depending on design */
.hero {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.hero__heading {
    margin-bottom: 2rem;
}

.hero__para {
    font-size: 1.5rem;
}

.hero__image {
    width: 100%;
}

/* Project */
.project .grid {
    grid-gap: 2rem;
} 

.project__content {
    margin-bottom: 2rem;
}

.more-info {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0.75;
}

.project__description {
    font-size: 1.5rem;
}

.project__image {
    width: 100%;
}