/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    line-height: 1.75;
    font-family: 'Inter', sans-serif;
    background-color: #111;
}

h2 {
    font-size: 3rem;
}

/* Container */

.container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

/* Links */

.link {
    color: inherit;
    font-size: 1.5rem;
    text-decoration: none;
}

.link--underlined {
    border-bottom: 3px solid #fff;
}

/* Copyright */

footer {
    background-color: #191919;
}

.copyright {
    padding: 1rem 0;
}

.copyright__text {
    opacity: 0.6;
    font-size: 1.25rem;
    text-align: center;
}

/* Contact */

.contact {
    padding: 4rem 0;
    text-align: center;
}

.contact__heading {
    margin-bottom: 2rem;
}

.contact__text {
    font-size: 1.5rem;
}