/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    line-height: 1.75;
    font-family: 'Inter', sans-serif;
    background-color: #111;
}

/* Container */

.container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

/* Copyright */

footer {
    background-color: #191919;
}

.footer__copyright {
    padding: 1rem 0;
}

p {
    
    opacity: 0.6;
    font-size: 1.25rem;
    text-align: center;
}