<section class="container grid grid--1x2 hero">
  <div class="hero__content">
    <h1 class="hero__heading">
      Hi, I am Kimia. <br />
      A tattooist & art student.
    </h1>
    <p class="hero__para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
      accusamus sint, incidunt consequatur ipsam nobis in, ipsum laborum esse
      atque beatae consectetur inventore. Et, sit!
    </p>
  </div>

  <img class="hero__image" src="images/kimia.png" alt="" />
</section>
