<section class="container project">
  <div class="project__content grid grid--1x2">
    <h2 class="project__heading">
      Project 01 <span class="more-info">Why i made it</span>
    </h2>
    <p class="project__description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
      repellendus sapiente voluptates iure, sit tenetur quis. Nihil autem vero
      quam illo similique aut cupiditate consectetur.
    </p>
  </div>

  <picture>
    <source type="image/webp" srcset="images/project.webp" />
    <img class="project__image" src="images/project.png" alt="" />
  </picture>
</section>
